@{
    ViewBag.Title = "MyBlog-"+ViewBag.Topic+"文章列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/Styles/list.less")" rel="stylesheet/less" type="text/css" />
<h2>@ViewBag.Topic's list</h2>
    @Html.Raw(ViewBag.ActicleList)